# Dependency directories
node_modules/

# Build and output directories
build/
dist/
public/
static/

# Environment files (optional)
.env*

# Editor-specific files (optional)
.vscode/
.idea/

# Log files (optional)
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db
